---
- name: Validate app type for {{ app.name | default('UNKNOWN') }}
  ansible.builtin.assert:
    that:
      - app.type is defined
      - app.type in ['apt', 'snap', 'flatpak', 'role', 'cmd']
    fail_msg: "Invalid app type for '{{ app.name | default('UNKNOWN') }}': type {{ app.type | default('UNDEFINED') }} is not in [apt, snap, flatpak, role, cmd]"

# --------------------
# APT
# --------------------
- name: Validate APT app {{ app.name }}
  ansible.builtin.assert:
    that:
      - app.keys() | difference(['name', 'type', 'state', 'deb']) | length == 0
    fail_msg: "Invalid keys for APT app '{{ app.name }}': {{ app.keys() | difference(['name', 'type', 'state', 'deb']) }}"
  when: app.type == 'apt'

- name: Install APT package {{ app.name }} from .deb
  ansible.builtin.apt:
    deb: "{{ app.deb }}"
    state: "{{ app.state | default('present') }}"
  become: true
  when:
    - app.type == 'apt'
    - app.deb is defined

- name: Install APT package {{ app.name }}
  ansible.builtin.apt:
    name: "{{ app.name }}"
    state: "{{ app.state | default('present') }}"
  become: true
  when:
    - app.type == 'apt'
    - app.deb is not defined

# --------------------
# SNAP
# --------------------
- name: Validate SNAP app {{ app.name }}
  ansible.builtin.assert:
    that:
      - app.keys() | difference(['name', 'type', 'channel', 'classic', 'become']) | length == 0
    fail_msg: "Invalid keys for SNAP app '{{ app.name }}': {{ app.keys() | difference(['name', 'type', 'channel', 'classic', 'become']) }}"
  when: app.type == 'snap'

- name: Install SNAP package {{ app.name }}
  become: "{{ app.become | default(false) }}"
  community.general.snap:
    name: "{{ app.name }}"
    channel: "{{ app.channel | default('stable') }}"
    classic: "{{ app.classic | default(false) }}"
  when: app.type == 'snap'

# --------------------
# FLATPAK
# --------------------
- name: Validate Flatpak app {{ app.name }}
  ansible.builtin.assert:
    that:
      - app.keys() | difference(['name', 'type', 'remote']) | length == 0
    fail_msg: "Invalid keys for Flatpak app '{{ app.name }}': {{ app.keys() | difference(['name', 'type', 'remote']) }}"
  when: app.type == 'flatpak'

- name: Install Flatpak package {{ app.name }}
  community.general.flatpak:
    name: "{{ app.name }}"
    remote: "{{ app.remote | default('flathub') }}"
  when: app.type == 'flatpak'

# --------------------
# ROLE
# --------------------
- name: Validate role app {{ app.name }}
  ansible.builtin.assert:
    that:
      - app.keys() | difference(['name', 'type', 'role', 'vars', 'become']) | length == 0
    fail_msg: "Invalid keys for role app '{{ app.name }}': {{ app.keys() | difference(['name', 'type', 'role', 'vars', 'become']) }}"
  when: app.type == 'role'

# The syntax below DOES NOT work!
# "vars:" cannot be defined like this (you should list each variable) 
# See: https://github.com/ansible/ansible/issues/19084#issuecomment-467586109
# - name: Include Ansible role for {{ app.name }}
#   ansible.builtin.include_role:
#     name: "{{ app.role }}"
#   vars: "{{ app.vars | default({}) }}"
#   when: app.type == 'role'

- name: Include Ansible role for {{ app.name }}
  ansible.builtin.include_role:
    name: ansible-role-loop
    apply:
      become: "{{ app.become | default(false) }}"
  vars: 
    loop_prefix: ""
    loop_role: "{{ app.role }}"
    loop_items:
      - "{{ app.vars | default({}) }}"
  when: app.type == 'role'

# --------------------
# CMD
# --------------------
- name: Validate CMD app {{ app.name }}
  ansible.builtin.assert:
    that:
      - app.cmd is defined
      - app.keys() | difference(['name', 'type', 'cmd', 'creates', 'executable', 'become']) | length == 0
    fail_msg: "Invalid keys for CMD app '{{ app.name }}': {{ app.keys() | difference(['name', 'type', 'cmd', 'creates', 'become']) }}"
  when: app.type == 'cmd'

- name: Install CMD app {{ app.name }}
  ansible.builtin.shell: "{{ app.cmd }}"
  args:
    creates: "{{ app.creates | default(omit) }}"
    executable: "{{ app.executable | default('/bin/bash') }}"
  become: "{{ app.become | default(false) }}"
  when: app.type == 'cmd'
